AverageSilaghiClass/AverageSilaghiClass/Debug/AverageSilaghiClass.log
AverageSilaghiClass/AverageSilaghiClass/Debug/AverageS.A3E239CF.tlog/unsuccessfulbuild
AverageSilaghiClass/AverageSilaghiClass/AverageSilaghiClass.vcxproj
AverageSilaghiClass/AverageSilaghiClass/AverageSilaghiClass.vcxproj.user
AverageSilaghiClass/AverageSilaghiClass/AverageSilaghiClass.vcxproj
AverageSilaghiClass/AverageSilaghiClass/AverageSilaghiClass.vcxproj
